#docs-root > .sbdocs-wrapper {
  padding: 0 4rem 4rem 4rem;
  justify-content: flex-start;
}

#docs-root > .sbdocs-wrapper > .sbdocs-content {
  max-width: 992px;
}

.sbdocs-content > h1.sbdocs-h1 {
  margin-top: 4rem;
}

h1.sbdocs,
h2.sbdocs,
h3.sbdocs,
h4.sbdocs,
h5.sbdocs {
  font-family: 'BaloiseCreateHeadline';
  font-weight: 700;
  color: #000d6e;
  hyphens: auto;
  word-break: break-word;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border: none;
}

h1.sbdocs.sbdocs-h1 {
  font-size: 1.75rem;
  line-height: 2rem;
}

@media screen and (min-width: 769px) {
  h1.sbdocs.sbdocs-h1 {
    font-size: 2.5rem;
    line-height: 3rem;
  }
}

h2.sbdocs.sbdocs-h2 {
  font-size: 1.5rem;
  line-height: 2rem;
}

@media screen and (min-width: 769px) {
  h2.sbdocs.sbdocs-h2 {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

h3.sbdocs.sbdocs-h3 {
  font-size: 1.25rem;
  line-height: 2rem;
}

@media screen and (min-width: 769px) {
  h3.sbdocs.sbdocs-h3 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

h4.sbdocs.sbdocs-h4 {
  font-size: 1.125rem;
  line-height: 2rem;
}

h4.sbdocs.sbdocs-h4 {
  font-size: 1rem;
  line-height: 1.5rem;
}

p.sbdocs-p {
  font-family: 'BaloiseCreateText';
  font-size: 1rem;
  color: #000d6e;
}

a.sbdocs-a {
  font-family: 'BaloiseCreateText';
  font-size: 1rem;
  font-weight: 700;
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 2px;
  color: #000d6e;
}

.sbdocs.sbdocs-toc {
  --toc-color: #000d6e;
  --toc-background: #ffffff;
  --toc-indicator-color: #e8e8e8;
  --toc-indicator-color--active: #000d6e;
}

.sbdocs.sbdocs-top {
  --toc-button-color: #000d6e;
  --toc-button-color--hover: #0014aa;
  --toc-button-color--active: #000739;
  --toc-button-background: #ffffff;
  --toc-button-background--hover: #e5f1fe;
  --toc-button-background--active: #e5f1fe;
}

nav.sbdocs-toc {
  padding: 0 1rem 1rem 1rem;
  width: 320px;
  top: 4rem;
  left: calc(992px + 48px + 48px);
  left: 1120px;
  background: transparent !important;
}

button.sbdocs-top {
  border: 2px solid #000d6e;
  border-radius: 4px;
  min-height: 48px;
  bottom: 4rem;
  /* left: calc(992px + 48px + 48px); */
  left: calc(1120px + 1rem);
}

button.sbdocs-top span {
  font-family: 'BaloiseCreateHeadline';
  font-weight: 700;
  font-size: 1rem;
}

button.sbdocs-top:hover {
  border-color: #0014aa;
}

button.sbdocs-top:active {
  border-color: #000739;
}

.sbdocs-toc__header {
  font-family: 'BaloiseCreateHeadline';
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 2rem;
  color: #000d6e;
}

.toc-link {
  font-family: 'BaloiseCreateText';
  font-size: 1rem;
  line-height: 1.5rem;
  color: #000d6e;
}

.toc-list-item:before {
  border-radius: 4px;
}

.sbdocs-a.button {
  text-decoration: none;
}

.features {
  padding: 1.2 rem 0;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: stretch;
  justify-content: space-between;
}

.feature {
  flex-grow: 1;
  flex-basis: 30%;
  max-width: 30%;
}

.feature h2 {
  font-size: 1.4rem !important;
  font-weight: 300 !important;
  line-height: 0 !important;
  border-bottom: none;
  padding-bottom: 0;
}

a.feature {
  text-decoration: none;
  font-size: 16px;
}

a.feature h2 {
  text-align: center;
}

a.feature h4 {
  text-align: center;
  text-decoration: none;
  color: #333 !important;
  font-size: 16px !important;
  margin-bottom: 32px;
}

a.feature h2 img {
  width: 64px;
  max-width: 100%;
  border-radius: 100%;
}

.feature {
  flex-basis: 50% !important;
  max-width: 50% !important;
}

@media only screen and (min-width: 420px) {
  .feature {
    flex-basis: 20% !important;
    max-width: 20% !important;
  }
}
