email=deploy@baloise.com
//nexus.balgroupit.com/repository/baloise-ch-npm-snapshots/:_authToken=NpmToken.df621c0d-1139-3d1b-9004-32b6da127dec
//nexus.balgroupit.com/repository/baloise-ch-npm/:_authToken=NpmToken.df621c0d-1139-3d1b-9004-32b6da127dec
