@import '@baloise/design-system-css/sass/mixins'

+block(footer)
  +unselectable
  display: block
  position: static

  +element(inner)
    position: relative
    font-family: var(--bal-family-primary)
    background-color: var(--bal-color-primary)
    color: var(--bal-color-text-white)
    padding-top: var(--bal-space-large)
    padding-bottom: var(--bal-space-large)
    +tablet
      padding-top: var(--bal-space-large)
      padding-bottom: var(--bal-space-large)
    +desktop
      padding-top: var(--bal-space-large)
      padding-bottom: var(--bal-space-large)

    &,
    p
      color: var(--bal-color-white)

    +element(header-container)
      display: flex
      justify-content: space-between
      flex-wrap: nowrap
      flex-direction: row
      padding-bottom: var(--bal-space-large)

      +element(language)
        display: flex
        flex-wrap: nowrap
        align-items: center

        +element(wrapper)
          width: 57px

      +element(logo)
        display: flex
        align-items: center

      +tablet-only
        padding-bottom: var(--bal-space-tablet-medium)

      +mobile
        padding-bottom: var(--bal-space-tablet-medium)

    +element(links-container)
      display: flex
      justify-content: space-between
      flex-wrap: wrap

      +tablet
        flex-direction: column

      +desktop
        flex-direction: row

      +element(legal-links)
        display: flex
        flex-wrap: wrap
        align-items: center
        gap: var(--bal-space-desktop-large)

        a:hover
          opacity: .5

        +mobile
          flex-direction: column
          justify-content: center
          width: 100%
          gap: var(--bal-space-normal)

        // .bal-text
        //   margin: 0

        // & > a
        //   white-space: nowrap
        //   &.is-current
        //     text-decoration: underline

      +element(social-media-links)
        align-items: center
        gap: var(--bal-space-desktop-large)
        padding: var(--bal-space-normal) var(--bal-space-normal) var(--bal-space-normal) var(--bal-space-none)

        a:hover
          opacity: .5

        +tablet-only
          padding-bottom: var(--bal-space-large)

        +mobile
          padding-bottom: var(--bal-space-large)
          justify-content: center
          width: 100%

        // & > a
        //   white-space: nowrap
        //   &.is-current
        //     text-decoration: underline
        //     text-underline-offset: 4px
        //     text-decoration-thickness: 2px

      // +tablet
      //   flex-wrap: nowrap
