@import '@baloise/design-system-css/sass/mixins'

.bal-nav-meta
  display: block
  background: var(--bal-color-primary)
  &__nav
    display: flex
    width: 100%
    min-height: 3rem
    @extend %container
    &__tabs
      flex: 1
    &__actions
      display: flex
      justify-content: center
      align-items: center
