@import '@baloise/design-system-css/sass/mixins'

// Tab Icons
// --------------------------------------------------

.bal-tabs__nav__item__icon
  position: relative
  //
  // alert bubble
  &__bubble
    position: absolute
    right: -12px
    top: -4px
    +tablet
      right: -8px
      top: -6px
  // left: calc(50% - 1rem)
  // display: flex
  // align-items: center
  // justify-content: center
  // overflow: hidden
  // z-index: 5
  // font-weight: var(--bal-weight-bold)
  // border-radius: var(--bal-radius-rounded)
  // font-size: var(--bal-size-small)
  // //
  // // Responive Sizes
  // height: 1.5rem
  // width: 1.5rem
  // +tablet
  //   height: 1.875rem
  //   width: 1.875rem
  //   font-size: var(--bal-size-normal)
  // //
  // // Color status
  // border: var(--bal-border-width-normal) solid var(--bal-color-border-grey)
  // background: var(--bal-color-white)
  // color: var(--bal-color-text-white-inverted)
