@import './bal-tabs__steps'

+block(tabs)
  display: inline-block
  position: static
  +modifier(context-navbar)
    +desktop
      height: 80px
      .bal-tabs__tabs > ul
        justify-content: flex-end
  +modifier(context-navigation)
    height: 64px
    +widescreen
      height: 80px
  +modifier(fullwidth)
    display: block
    flex: 1
    width: 100%
  .has-slider
    position: relative
    display: block
    .bal-tabs__col-items
      padding-left: 16px
      padding-right: 16px
    .bal-tabs__controls
      position: absolute
      width: 100%
      z-index: 1
      top: 0
      display: block
      +element(button)
        position: absolute
        height: 80px
        width: 48px
        display: flex
        align-items: center
        +desktop
          height: 48px
        +high-definition
          height: 64px
        +widescreen
          height: 80px
        button
          position: absolute
          -moz-appearance: none
          -webkit-appearance: none
          background-color: var(--bal-color-primary)
          border: none
          border-radius: var(--bal-radius-rounded)
          cursor: pointer
          pointer-events: auto
          display: inline-block
          border: none
          flex-grow: 0
          flex-shrink: 0
          font-size: 0
          outline: none
          vertical-align: top
          padding: 1px
          +hover
            &:hover,
            &.is-hovered
              background: var(--bal-color-light-blue-dark)
              border-color: var(--bal-color-light-blue-dark)
          &:active,
          &.is-active
            background: var(--bal-color-blue-dark)
            border-color: var(--bal-color-blue-dark)
          &.is-disabled.is-inverted,
          &.is-disabled,
          &.is-disabled:hover,
          &.is-disabled:active,
          &.is-disabled:focus,
          &.is-inverted:disabled,
          &:disabled
            // @extend %disabled
            background: var(--bal-color-grey)
            border-color: var(--bal-color-grey)
            color: var(--bal-color-grey-dark)
            +fillSvg(var(--bal-color-grey-dark))
            cursor: default
            opacity: 1
            & > span::after
              display: none
              content: none
          &.is-inverted
            background: transparent
            border-color: var(--bal-color-white)
            color: var(--bal-color-white)
            +fillSvg(var(--bal-color-white))
            // States
            +hover
              &:hover,
              &.is-hovered
                background: var(--bal-color-blue-3)
                border-color: var(--bal-color-light-blue-3)
                color: var(--bal-color-white)
                +fillSvg(var(--bal-color-white))
            &:focus-visible,
            &.is-focused
              &:not(:active)
                // @extend %focus-inverted-shadow
            &:active,
            &.is-active
              background: var(--bal-color-blue-3)
              border-color: var(--bal-color-light-blue-5)
              color: var(--bal-color-white)
              +fillSvg(var(--bal-color-white))
        +modifier(left)
          left: 0
          justify-content: flex-start
          background: linear-gradient(90deg, var(--bal-color-white) 16%, rgba(255, 255, 255, 0) 100%)
        +modifier(right)
          right: 0
          justify-content: flex-end
          background: linear-gradient(90deg, rgba(255, 255, 255, 0), var(--bal-color-white) 84%)

  .columns
    position: relative
    display: block
    .bal-tabs__controls
      position: absolute
      width: 100%
      z-index: 1
      top: 0
      display: block
      +element(button)
        position: absolute
        height: 70px
        width: 24px
        display: flex
        align-items: center
        button
          position: absolute
          -moz-appearance: none
          -webkit-appearance: none
          background-color: var(--bal-color-primary)
          border: none
          border-radius: var(--bal-radius-rounded)
          cursor: pointer
          pointer-events: auto
          display: inline-block
          border: none
          flex-grow: 0
          flex-shrink: 0
          font-size: 0
          outline: none
          vertical-align: top
          padding: 1px
          margin-top: 17px
          +hover
            &:hover,
            &.is-hovered
              background: var(--bal-color-light-blue-dark)
              border-color: var(--bal-color-light-blue-dark)
          &:active,
          &.is-active
            background: var(--bal-color-blue-dark)
            border-color: var(--bal-color-blue-dark)
          &.is-disabled.is-inverted,
          &.is-disabled,
          &.is-disabled:hover,
          &.is-disabled:active,
          &.is-disabled:focus,
          &.is-inverted:disabled,
          &:disabled
            // @extend %disabled
            background: var(--bal-color-grey)
            border-color: var(--bal-color-grey)
            color: var(--bal-color-grey-dark)
            +fillSvg(var(--bal-color-grey-dark))
            cursor: default
            opacity: 1
            & > span::after
              display: none
              content: none
          &.is-inverted
            background: transparent
            border-color: var(--bal-color-white)
            color: var(--bal-color-white)
            +fillSvg(var(--bal-color-white))
            // States
            +hover
              &:hover,
              &.is-hovered
                background: var(--bal-color-blue-3)
                border-color: var(--bal-color-light-blue-3)
                color: var(--bal-color-white)
                +fillSvg(var(--bal-color-white))
            &:focus-visible,
            &.is-focused
              &:not(:active)
                // @extend %focus-inverted-shadow
            &:active,
            &.is-active
              background: var(--bal-color-blue-3)
              border-color: var(--bal-color-light-blue-5)
              color: var(--bal-color-white)
              +fillSvg(var(--bal-color-white))
        +modifier(left)
          left: 0
          justify-content: flex-start
        +modifier(right)
          right: 0
          justify-content: flex-end

  +element(col-items)
    padding-bottom: 0 !important
    overflow: hidden
    +element(border-wrapper)
      position: relative
      &::before
        content: ''
        background: var(--bal-color-border-normal)
        border-radius: var(--bal-radius-small)
        height: 2px
        width: 100%
        position: absolute
        bottom: 0
      +modifier(vertical)
        &::before
          content: ''
          background: var(--bal-color-border-normal)
          border-radius: var(--bal-radius-small)
          height: auto
          width: 2px
          top: 4px
          bottom: 4px
          left: 0
      +modifier(vertical-on-mobile)
        &::before
          content: ''
          background: var(--bal-color-border-normal)
          border-radius: var(--bal-radius-small)
          +mobile
            height: auto
            width: 2px
            top: 4px
            bottom: 4px
            left: 0
      +modifier(vertical-on-tablet)
        &::before
          content: ''
          background: var(--bal-color-border-normal)
          border-radius: var(--bal-radius-small)
          +touch
            height: auto
            width: 2px
            top: 4px
            bottom: 4px
            left: 0
    +modifier(vertical)
      +tablet
        padding-bottom: var(--bal-column-gap) !important
    +modifier(context-meta)
      padding: 0 !important
  +element(col-content)
    padding-top: 0 !important
    padding-bottom: 0 !important
    +modifier(vertical)
      +tablet
        padding-top: var(--bal-column-gap) !important
        padding-bottom: var(--bal-column-gap) !important
    +modifier(full)
      padding-top: 0 !important
      padding-bottom: 0 !important
  +element(tabs)
    +overflow-touch
    +unselectable
    position: relative
    align-items: stretch
    display: flex
    font-size: $size-normal
    justify-content: space-between
    white-space: nowrap
    ul
      align-items: center
      display: flex
      flex-grow: 1
      flex-shrink: 0
      justify-content: flex-start
    +modifier(spaceless)
      ul
        margin-left: -0.75rem
    +modifier(float-right)
      +high-definition
        ul
          justify-content: flex-end
    +modifier(vertical)
      ul
        flex-direction: column
        align-items: flex-start
    +modifier(vertical-on-mobile)
      +mobile
        ul
          flex-direction: column
          align-items: flex-start
    +modifier(vertical-on-tablet)
      +touch
        ul
          flex-direction: column
          align-items: flex-start

    // tab items
    +element(item)
      display: flex
      padding: 0
      justify-content: center
      align-items: center
      display: flex
      +modifier(hidden)
        display: none
      +modifier(fullwidth)
        flex-grow: 1
        flex-basis: 0
      +modifier(vertical)
        flex-grow: 1
        flex-basis: 0
        width: 100%
        justify-content: flex-start
      +modifier(vertical-on-mobile)
        +mobile
          flex-grow: 1
          flex-basis: 0
          width: 100%
          justify-content: flex-start
      +modifier(vertical-on-tablet)
        +touch
          flex-grow: 1
          flex-basis: 0
          width: 100%
          justify-content: flex-start

      +element(button)
        position: relative
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        font-family: var(--bal-font-family-title)
        font-weight: 700
        gap: .5rem
        padding: 1rem .75rem
        flex-grow: 1
        flex-basis: 0
        width: 100%
        outline: none !important
        border-radius: var(--bal-radius-small)
        z-index: 1
        -webkit-user-select: none
        -khtml-user-select: none
        -moz-user-select: none
        -o-user-select: none
        user-select: none
        -webkit-user-drag: none
        -khtml-user-drag: none
        -moz-user-drag: none
        -o-user-drag: none
        user-drag: none
        &:focus-visible
          &:not(:active)
            @extend %focus-inset-shadow
        span
          display: flex
          position: relative
          hyphens: auto
          gap: 4px
        &:hover
          color: var(--bal-color-light-blue-dark)
          +fillSvg(var(--bal-color-light-blue-dark))
        &:active
          color: var(--bal-color-blue-dark)
          +fillSvg(var(--bal-color-blue-dark))
        +modifier(icon-horizontal)
          flex-direction: row
        +touch
          gap: .5rem
          padding: 1rem
          +modifier(icon-horizontal)
            flex-direction: column
        +modifier(inverted)
          color: var(--bal-color-primary-inverted)
          +fillSvg(var(--bal-color-primary-inverted))
          &:hover
            color: var(--bal-color-light-blue-2)
            +fillSvg(var(--bal-color-light-blue-2))
          &:active
            color: var(--bal-color-info-3)
            +fillSvg(var(--bal-color-info-3))
          &:focus-visible
            &:not(:active)
              @extend %focus-inverted-inset-shadow
        +modifier(context-navbar)
          +touch
            color: var(--bal-color-primary)
            +fillSvg(var(--bal-color-primary))
            &:hover
              color: var(--bal-color-light-blue-dark)
              +fillSvg(var(--bal-color-light-blue-dark))
            &:active
              color: var(--bal-color-blue-dark)
              +fillSvg(var(--bal-color-blue-dark))
        +modifier(disabled)
          color: var(--bal-color-text-disabled)
          cursor: default
          .bal-icon
            +fillSvg(var(--bal-color-text-disabled))
          &:hover, &:focus, &:active
            color: var(--bal-color-text-disabled)
            .bal-icon
              +fillSvg(var(--bal-color-text-disabled))
        +modifier(fullwidth)
          flex-grow: 1
          flex-basis: 0
        +modifier(vertical)
          align-items: flex-start
          justify-content: flex-start
          padding: .5rem 1rem
        +modifier(vertical-on-mobile)
          +mobile
            align-items: flex-start
            justify-content: flex-start
            padding: .5rem 1rem
        +modifier(vertical-on-tablet)
          +touch
            align-items: flex-start
            justify-content: flex-start
            padding: .5rem 1rem
        +modifier(icon)
          +mobile
            gap: 0
            font-size: var(--bal-size-small)
          +touch
            gap: .25rem
            padding: .5rem
        .bal-icon
          margin-top: -1px
        +modifier(context-navbar)
          +desktop
            height: 80px
        +modifier(context-navigation)
          flex-direction: row-reverse
          height: 3rem
          +high-definition
            height: 4rem
          +widescreen
            height: 5rem
        +modifier(context-meta)
          height: 3rem
          font-size: var(--bal-size-small)
          font-family: var(--bal-font-family-text)
          font-weight: var(--bal-weight-regular)
          &.bal-tabs__tabs__item__button--active
            font-weight: var(--bal-weight-bold)

    +element(line)
      position: absolute
      background: var(--bal-color-primary)
      border-radius: var(--bal-radius-small)
      height: 2px
      bottom: 0
      +modifier(inverted)
        background: var(--bal-color-primary-inverted)
      +modifier(context-navbar)
        +touch
          background: var(--bal-color-primary)
      +modifier(ready)
        transition: 0.4s
      +modifier(vertical)
        height: auto
        width: 2px
        top: 0
        left: 0
      +modifier(vertical-on-mobile)
        +mobile
          height: auto
          width: 2px
          top: 0
          left: 0
      +modifier(vertical-on-tablet)
        +touch
          height: auto
          width: 2px
          top: 0
          left: 0

+block(tabs-item)
  width: 100%
  display: none
  +modifier(active)
    display: block
