@import '@baloise/design-system-css/sass/mixins'
@import './components/tab-nav'
@import './components/tab-button'
@import './components/tab-icon'
@import './components/tab-label'
@import './components/tab-select'

.bal-tabs
  display: block
  //
  // Vertical layout
  &--vertical
    display: block
    +tablet
      display: flex
  //
  // Navbar layout
  &--navbar
    +tablet
      height: 100%
.bal-tab-item
  width: 100%
  display: none
  &--active
    display: block
