+block(mainnav)
  +element(metabar)
    +unselectable
    position: relative
    display: block
    background: var(--bal-color-primary-inverted)
    height: 64px
    max-height: 64px
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1)
    +desktop
      background: var(--bal-color-primary)
      height: 48px
      max-height: 48px
      box-shadow: none
    nav
      display: flex
      height: 100%
      gap: .5rem
      align-items: center

    +element(actions)
      display: flex
      flex-shrink: 0
      justify-content: flex-end
      align-items: center
      margin-left: auto
      gap: .5rem

    +element(menu)
      position: static
      display: none

      +modifier(active)
        +touch
          position: fixed
          display: block
          background: var(--bal-color-white)

      +touch
        overflow-y: auto
        flex-direction: column-reverse
        top: 64px
        left: 0
        bottom: 0
        right: 0
        z-index: -1

      +desktop
        display: flex
        flex: 1
        gap: 1rem

      +element(content)
        padding: 0 1rem

        +element(panel)
          > a
            margin-bottom: 1.5rem
            +tablet
              margin-bottom: 2.5rem
            +desktop
              margin-bottom: 2rem
          > div > div:first-of-type > div
            +widescreen
              display: flex
              flex-wrap: wrap

          +element(list)
            position: relative
            +tablet-only
              padding-top: 2.5rem

              &:after
                content: ''
                background: $grey-2
                height: 2px
                width: 100%
                border-radius: $radius
                position: absolute
                top: 0
                left: 0
                right: 0

            +modifier(context-default)
              +widescreen
                width: calc(50% - 30px)
                &:nth-child(odd)
                  margin-right: 60px

      +element(buttons)
        display: flex
        align-items: center
        gap: .5rem

        +touch
          position: sticky
          top: 100%
          justify-content: center
          background: var(--bal-color-grey-2)
          padding: 0.5rem

        +desktop
          margin-left: auto

        > .field
          flex: 1
          +desktop
            flex-shrink: 0
            align-items: center
  +element(mainbar)
    +unselectable
    display: block
    width: 100vw
    nav
      display: flex
      width: 100%
      justify-content: space-between
      flex-wrap: wrap
      align-items: center
      padding: 0 48px
      background-color: var(--bal-color-white)
      position: relative
    +widescreen
      width: calc(100vw - 160px)
      margin: 1rem auto 0
      nav
        border-radius: 12px
        transition: border-radius .8s ease-in-out
        &.active-navbar
          border-bottom-left-radius: 0
          border-bottom-right-radius: 0
