@import '@baloise/design-system-css/sass/mixins'

.bal-item
  display: flex
  flex-direction: row
  align-items: center
  height: 100%
  gap: 1rem
  //
  // direction
  &--direction-column
    flex-direction: column
    align-items: flex-start
  &--direction-row
    flex-direction: row
    align-items: center
  //
  // alignment
  &--alignment-start
    align-items: flex-start
  &--alignment-center
    align-items: center
  &--alignment-end
    align-items: flex-end
  //
  // custom position
  bal-radio
    margin-top: -4px
