@import '@baloise/design-system-css/sass/mixins'

+block(time-input)
    +unselectable
    display: block
    position: relative
    flex: 1
    align-items: center
    width: 100%
    padding: 0
    font-family: var(--bal-family-primary)
    +element(native)
        &::-webkit-datetime-edit-fields-wrapper
            display: flex
        &::-webkit-datetime-edit-text
            color: var(--bal-color-primary)
        &::-webkit-clear-button
            display: none
        &::-webkit-inner-spin-button
            display: none
        &::-webkit-calendar-picker-indicator
            display: none
            background: none
        &::-webkit-datetime-edit-ampm-field
            display: none
